@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Rage Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rage Italic'), url(./font/RAGE_1.woff) format('woff');
}

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.outer {
    background-color: #fbf252;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 25px 0;
}

.call {
    font-family: 'Myriad Pro Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    padding-right: 40px;
    gap: 10px;
}

.callnumber {
    text-align: start;
}

.callnumber a {
    font-size: 15PX;
    color: #47768a;
    text-decoration: none;
}

.myaccount {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    padding-right: 20px;
    gap: 10px;
}

.search input[type="search"] {
    padding: 13px 240px 13px 5px;
    border: none;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.australia {
    display: grid;
    align-items: start;
    text-align: start;
}

.header p {
    font-size: 15px;
}

select#cur {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: none;
    background-color: #fbf252;
    font-size: 15px;
}

.mobileheader {
    display: none;
}

.hire {
    font-family: 'Myriad Pro Regular';
}

.hire span,
.instore span,
.online span,
.shopingon span {
    font-weight: bold;
}

.hire,
.instore,
.online,
.shopingon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.uspslider {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 10px 0;
}

.navbar {
    background-color: #0e66a1;
    padding: 5px 0;
    border-bottom: 1px solid white;
}

.navbar ul a {
    text-decoration: none;
    display: block;
}

.navbar ul li {
    font-family: 'Myriad Pro Regular';
    color: white;
}

.navbar ul {
    font-family: 'Myriad Pro Regular';
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 48px;
    font-size: 16px;
}

select#shopall {
    border: none;
    background-color: #2f84bd;
    padding: 16px 32px;
    color: white;
}

.sliders {
    position: relative;
}

.sliders img {
    width: 100%;
}

.slide-describtion {
    position: absolute;
    top: 50%;
    width: 470px;
    transform: translate(0, -50%);
}

.slide-describtion h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 72px;
    font-weight: bold;
}

.slide-describtion p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 35px 0;
}

.moreinfo {
    font-family: 'Ubuntu', sans-serif;
    background-color: red;
    padding: 15px 25px;
    font-size: 22px;
    font-weight: 500;
    border: none;
    color: white;
    cursor: pointer;
}

.equipment,
.baby,
.diabetes,
.vitamin {
    position: relative;
}

.parenthood {
    position: absolute;
    top: 30px;
    left: 175px;
    text-align: end;
}

.parenthood h1,
.dia h1,
.parent h1,
.vit h1 {
    font-size: 22px;
}

.parenthood p,
.dia p,
.parent p,
.vit p {
    font-size: 14px;
    width: 160px;
}

.parenthood a,
.dia a,
.parent a,
.vit a {
    text-decoration: none;
    color: #0973ba;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.dia,
.vit {
    position: absolute;
    top: 30px;
    left: 142px;
    text-align: end;
}

.parent {
    position: absolute;
    top: 20px;
    left: 17px;
}

.tab_content {
    padding: 30px 0;
}

.product {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.two-row {
    display: grid;
    justify-content: space-between;
    gap: 16px;
}

.equipment,
.baby,
.diabetes,
.vitamin {
    display: inline-block;
    position: relative;
}

.diabetes:before,
.vitamin:before {
    bottom: 10px !important;
}

.equipment:before,
.baby:before,
.diabetes:before,
.vitamin:before {
    display: block;
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 10px;
    left: 4px;
    border: 1px solid white;
}

.nav {
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
}

.nav a:first-child::before,
.nav a:last-child::after {
    content: "";
    border-bottom: 2px solid red;
    width: 100px;
    height: 2px;
    display: inline-block;
    margin: 6px 15px;
}

.arroy {
    font-size: 20px;
}

.nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-right: 16px;
    list-style: none;
    padding: 16px;
    cursor: pointer;
    color: black;
}

*/ .tab_content {
    padding: 40px 80px;
}

.redb {
    color: #989898;
    position: relative;
}

.redb::after {
    content: "";
    border-bottom: 2px solid red;
    width: 60px;
    height: 2px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 5px;
    transform: rotate(350deg);
}

.tab-content {
    display: none;
    text-align: center;
    color: black;
}

.tab-content.active {
    display: block;
}

.multitabs h3 {
    font-family: 'Rage Italic';
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 20px 0;
}


.crutch img {
    border: 1px solid #f3f3f3;
    padding: 35px 80px;
    width: 278px;
    height: 278px;
}

.crutch p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 40px;
}

.instore {
    display: flex;
    justify-content: space-between;
}

.child a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 10px;
    display: block;
}

.fa-circle-right {
    color: #0973ba;
}

.child img {
    width: 350px;
    height: 210px;
}

.child {
    text-align: center;
    outline: 2px solid #e9e9e9;
    outline-offset: -10px;
    height: 270px;
}

.hide-conten {
    display: none;
}

button.view {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #adadad;
    border: none;
    background-color: transparent;
    padding-bottom: 20px;
    display: flex;
    justify-content: end;
    width: 100%;
    cursor: pointer;
}

.service {
    background-color: #f9f9f9;
}

.service p,
.brands p {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 50px;
}

.service p::before,
.service p::after,
.brands p::after,
.brands p::before {
    content: "";
    border-bottom: 2px solid red;
    width: 100px;
    height: 2px;
    display: inline-block;
    margin: 6px 5px;
}

.brands img {
    outline: 2px solid #ebebeb;
    outline-offset: 35px;
}

.costumer {
    display: flex;
    gap: 40px;
}

.pharmasy h3 {
    font-size: 18px;
    padding: 5px;
}

.pharmasy h1 {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: bold;
}

.pharmasy p {
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
}

.pharmasy {
    padding-top: 65px;
    font-family: 'Roboto', sans-serif;
}

.pharmasyplus {
    color: #7cb4da;
    font-weight: 400;
}

.pharmasy a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #0e66a1;
    border: 1px solid #0e66a1;
    padding: 13px;
    display: inline-block;
    margin-top: 35px;
    font-size: 16px;
    border-radius: 2px;
}

.pharmasy a:hover {
    color: white;
    background-color: #0e66a1;
    border-radius: 10px;
}

.query {
    background-color: #0973ba;
}

.contactinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number a {
    text-decoration: none;
    font-size: 28px;
    color: white;
}

.number h4 {
    color: white;
}

.number p {
    font-size: 16px;
    color: white;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
}

.query :nth-child(4) {
    text-decoration: none;
    color: #0973ba;
    padding: 10px 15px;
    background-color: white;
}

.mainmap img {
    display: flex;
}

.maindetails {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    text-align: start;
    background-color: #0973ba;
    margin-top: 30px;
    border-radius: 2px;
}

.details p,
h1 {
    padding-left: 34px;
    color: white;
}

.details h1 {
    font-size: 22px;
    font-weight: bold;
}

.details p {
    font-size: 16px;
}

input#fname,
input#email {
    padding: 20px 120px 20px 20px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
}

input#fname {
    margin: 35px;
}

button#sub {
    padding: 20px 45px;
    border-radius: 5px;
    border: none;
    align-items: end;
}

@media only screen and (max-width: 1023px) {
    .header {
        display: none;
    }

    .mobileheader {
        display: flex;
        justify-content: space-between;
    }

    .outer {
        text-align: center;
    }

    .outer img {
        padding: 15px 0;
    }
}