@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Rage Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rage Italic'), url(./font/RAGE_1.woff) format('woff');
}

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('./font/MYRIADPRO-REGULAR.woff') format('woff');
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transition: 1s all;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.outer {
    background-color: #fbf252;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 25px 0;
}

.call {
    font-family: 'Myriad Pro Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    padding-right: 40px;
    gap: 10px;
}

.callnumber {
    text-align: start;
}

.callnumber a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 23PX;
    color: #47768a;
    text-decoration: none;
    font-weight: bold;
}

.myaccount {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    padding-right: 20px;
    gap: 10px;
}

.search button {
    padding: 10px;
    background-color: #0973ba;
    color: white;
    border: none;
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.search {
    position: relative;
}

.search input[type="search"] {
    padding: 13px 45px 13px 5px;
    border: none;
    width: 428px;
    border-radius: 5px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.australia {
    display: grid;
    align-items: start;
    text-align: start;
    position: relative;
}

.australia h5 {
    position: absolute;
    color: white;
    background-color: red;
    padding: 3px 7px;
    border-radius: 50%;
    right: 57px;
    bottom: 25px;
}

.header p {
    font-size: 15px;
}

select#cur {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: none;
    background-color: #fbf252;
    font-size: 15px;
}

.mobileheader {
    display: none;
}

i.fa-solid.fa-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #0b73ba;
}

.hide-item {
    display: none;
    background-color: #fbf252;
}

.hire {
    font-family: 'Myriad Pro Regular';
}

.hire span,
.instore span,
.online span,
.shopingon span {
    font-weight: bold;
    font-size: 20px;
}

.hire,
.online,
.shopingon {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.instore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 7px 0;
}

.first-row {
    display: contents;
}

.uspslider p {
    font-size: 20px;
}

.uspslider {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 10px 0;
}

.navbar {
    background-color: #0e66a1;
    padding: 5px 0;
    border-bottom: 1px solid white;
}

.navbar ul a {
    text-decoration: none;
    display: block;
}

.navbar ul li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 18px;
}

.navbar ul {
    font-family: 'Myriad Pro Regular';
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 48px;
    font-size: 16px;
}

.shop {
    background-color: #2f84bd;
    padding: 16px 32px;
}

select#shopall {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
    background-color: #2f84bd;
    color: white;
    font-size: 18px;
}

.sliders {
    position: relative;
}

.sliders img {
    width: 100%;
}

.slide-describtion img {
    width: 32px;
    display: inline;
    text-align: center;
    padding-left: 12px;
}

.slide-describtion {
    position: absolute;
    top: 50%;
    width: 470px;
    transform: translate(0, -50%);
}

.slide-describtion h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: white;
}

.slide-describtion p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 35px 0;
    color: white;
}

.moreinfo {
    font-family: 'Ubuntu', sans-serif;
    background-color: red;
    padding: 15px 25px;
    font-size: 22px;
    font-weight: 500;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    transition: 0.5s all;
}

.moreinfo:hover {
    box-shadow: 0 0 5px 5px rgb(153, 54, 54);
}

.equipment,
.baby,
.diabetes,
.vitamin {
    position: relative;
}

.parenthood {
    position: absolute;
    top: 40px;
    left: 175px;
    text-align: end;
}

.parenthood h1,
.dia h1,
.parent h1,
.vit h1 {
    font-size: 22px;
    padding-bottom: 6px;
}

.parenthood p,
.dia p,
.parent p,
.vit p {
    font-size: 14px;
    width: 160px;
    padding-bottom: 20px;
}

.parenthood a,
.dia a,
.parent a,
.vit a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #0973ba;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    gap: 6px;
    transition: 0.5s all;
}

.parenthood a:hover,
.dia a:hover,
.parent a:hover,
.vit a:hover {
    color: red;
}

.dia,
.vit {
    position: absolute;
    top: 30px;
    left: 142px;
    text-align: end;
}

.pro-img {
    width: 100%;
}

.parent {
    position: absolute;
    top: 40px;
    left: 17px;
}

.tab_content {
    padding: 30px 0;
}

.product {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 65px 0
}

.two-row {
    display: grid;
    justify-content: space-between;
    gap: 16px;
}

.equipment,
.baby,
.diabetes,
.vitamin {
    display: inline-block;
    position: relative;
}

.diabetes:before,
.vitamin:before {
    bottom: 10px !important;
}

.equipment:before,
.baby:before,
.diabetes:before,
.vitamin:before {
    display: block;
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 10px;
    left: 4px;
    border: 1px solid white;
}

.nav {
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
}

.tab-link.active {
    color: #0973ba;
}

.nav a:first-child::before,
.nav a:last-child::after {
    content: "";
    border-bottom: 2px solid red;
    width: 100px;
    height: 2px;
    display: inline-block;
    margin: 6px 15px;
}

.arroy {
    font-size: 20px;
}

.nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-right: 16px;
    list-style: none;
    padding: 16px;
    cursor: pointer;
    color: black;
}

.tab_content {
    padding: 40px 0px;
}

.redb {
    color: #989898;
    position: relative;
    padding-left: 10px;
}

.redb::after {
    content: "";
    border-bottom: 2px solid red;
    width: 60px;
    height: 2px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 5px;
    transform: rotate(350deg);
}

.tab-content {
    display: none;
    text-align: center;
    color: black;
}

.tab-content.active {
    display: block;
}

.multitabs h3 {
    font-family: 'Rage Italic';
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 20px 0;
    color: #d6d5d5;
}

.crutch img {
    padding: 35px 80px;
    width: 278px;
    height: 278px;
    position: relative;
}

.crutch p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 40px;
    padding: 20px 0 0 0;
}

.crutch :nth-child(3) {
    font-family: 'Roboto', sans-serif;
    color: #0973ba;
    padding: 35px;
    font-weight: bold;
}

.cardimag {
    position: relative;
    border: 1px solid #f3f3f3;
}

.cardimag:hover {
    background-color: #f6f6f6;
}

.addto {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.crutch {
    margin: 7px;
}

.crutch:hover .addto {
    display: flex;
}

.feachered {
    margin: -7px;
}

.addto a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 11px 14px;
    background-color: #0973ba;
    margin-left: 10px;
}

.addto img {
    width: 40px;
    height: 40px;
    padding: 0;
}

img.sale {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.child img {
    width: 100%;
}

.child a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 10px;
    display: block;
    transition: 0.5s all;
}

.child a:hover {
    color: #0973ba;
}

.fa-circle-right {
    color: #0973ba;
}

.child {
    text-align: center;
    outline: 2px solid #e9e9e9;
    outline-offset: -10px;
    height: 270px;
}

.hide-conten {
    display: none;
}

button.view {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #adadad;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: end;
    width: 100%;
    cursor: pointer;
    padding: 20PX;
}

.service {
    background-color: #f9f9f9;
    padding: 0 0 60px 0;
}

.service p,
.brands p {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 40px 40px 20px 40px
}

.service p::before,
.service p::after,
.brands p::after,
.brands p::before {
    content: "";
    border-bottom: 2px solid red;
    width: 100px;
    height: 2px;
    display: inline-block;
    margin: 6px 5px;
}

/* .brands img {
    outline: 2px solid #ebebeb;
    outline-offset: 15px;
} */

.top-product-prev,
.top-product-next {
    color: #cfcfcf;
    border: 1px solid #cfcfcf;
    padding: 5px 7px;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    top: -30px;
}

.top-product-prev {
    right: 30px;
}

.top-product-next {
    right: 0;
}

/* Slick CSS for end */

.costumer {
    display: flex;
    gap: 40px;
    padding: 70px 0;
}

.pharmasy h3 {
    font-size: 18px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.pharmasy h1 {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: bold;
}

.pharmasy p {
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
}

.pharmasy {
    padding-top: 65px;
    font-family: 'Roboto', sans-serif;
}

.pharmasyplus {
    color: #7cb4da;
    font-weight: 400;
}

.pharmasy a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #0e66a1;
    border: 1px solid #0e66a1;
    padding: 13px;
    display: inline-block;
    margin-top: 35px;
    font-size: 16px;
    border-radius: 2px;
    transition: 0.5s all;

}

.pharmasy a:hover {
    color: white;
    background-color: #0e66a1;
    border-radius: 10px;
}

.query {
    background-color: #0973ba;
    font-family: 'Ubuntu', sans-serif;
}

.contactinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number a {
    text-decoration: none;
    font-size: 28px;
    color: white;
    font-weight: 500;
}

.number h5 {
    color: white;
}

.number p {
    font-size: 16px;
    color: #eeeeee;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
}

.query :nth-child(4) {
    text-decoration: none;
    color: #0973ba;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    background-color: white;
    transition: 1s all;
}

.query :nth-child(4):hover {
    color: white;
    background-color: #3683b6;

}

.mainmap img {
    display: flex;
    width: 100%;
}

.maindetails {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    text-align: start;
    background-color: #0973ba;
    margin: 30px 0 0 0;
    border-radius: 2px;
    padding: 35px 0;
}

.details p,
.details h1 {
    padding-left: 34px;
    color: white;
}

.details h1 {
    font-size: 22px;
    font-weight: bold;
}

.details p {
    font-size: 16px;
    color: #badef6;
}

.brandimg a {
    padding: 10px;
    margin: 0 -10px 0 0;
}

.brandimg img {
    border: 2px solid transparent;
}

.brandimg img:hover {
    border: 2px solid #0973ba;
}

input#fname,
input#email {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 16px;
    padding: 18px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    width: 370px;
}

button#sub {
    padding: 15px 45px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    color: white;
    background-color: #ed2328;
    cursor: pointer;
    transition: 1s all;
}

button#sub:hover {
    background-color: #2f84bd;

}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.quick,
.connect {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 40px 70px;
}

.quick {
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.connect {
    border-bottom: 1px solid #eeeeee;
}

.viewall {
    text-decoration: none;
    color: red;
    margin: 0 0 0 -15px;

}

.footer {
    display: flex;
}

.quick h1 {
    margin: 0 0 0 -15px;
}

.quick h1,
.forblue {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color: #0973ba;
    padding-bottom: 10px;
}

.forbold {
    font-weight: bold;
}

.quick ul a {
    text-decoration: none;
}

.connect p {
    padding-bottom: 10px;
    font-size: 20px;
}

.quick ul li {
    font-size: 15px;
    color: #666666;
    line-height: 35px;
}

.quick ul li:hover {
    color: #0973ba;
}

.media {
    padding-bottom: 40px;
}

.payment {
    padding-bottom: 65px;
}

.payment a {
    padding-right: 5px;
}

.media img {
    padding: 0px 6px;
}

/* .media img:hover, */
.payment img:hover {
    box-shadow: 0 0 11px rgb(133, 132, 105);
}

.payment img {
    padding: 7px 8px;
    border: 1px solid #dfdfdf;
    height: 32px;
    width: 62px;
}

.connect:first-child p {
    color: #0973ba;
}

.vaified img {
    padding-right: 30px;
}

.vaified {
    align-items: center;
    display: flex;
}

.reserved {
    text-align: center;
}

.reserved a {
    text-decoration: none;
    color: #83898e;
    padding: 20px 0;
    display: block;
}

.reserved a span {
    color: #0e66a1;
}

@media only screen and (max-width: 1440px) {
    .container {
        padding: 0 30px;
    }

    .slide-describtion h1 {
        font-size: 62px;
    }

    .product {
        gap: 16px;
    }

    .first-row {
        display: flex;
        gap: 16px;
    }

    .parenthood {
        left: 160px;
    }

    .details p {
        font-size: 14px;
    }

    .details h1 {
        font-size: 19px;
        font-weight: bold;
    }

    .details p,
    .details h1 {
        padding-left: 10px;
    }

    .parenthood {
        left: 132px;
        top: 25px;
    }

    .dia,
    .vit {
        top: 25px;
        left: 123px;
    }

    .child {
        height: 243px;
    }

    .quick,
    .connect {
        padding: 40px 49px;
    }
}

@media only screen and (max-width: 1366px) {

    .search input[type="search"] {
        padding: 13px 40px 13px 5px;
        width: 300px;
    }

    .navbar ul {
        gap: 30px;
    }

    .navbar ul li,
    select#shopall {
        font-size: 15px;
    }

    .slide-describtion h1 {
        font-size: 60px;
    }

    .uspslider p {
        font-size: 15px;
    }

    input#fname,
    input#email {
        width: 260px;
    }

    input#fname,
    input#email {
        width: 328px;
    }

    .header a img {
        width: 100%;
    }
}

@media only screen and (max-width: 1280PX) {
    .slide-describtion h1 {
        font-size: 50px;
    }

    .parenthood {
        left: 118px;
        top: 9px;
    }

    .dia,
    .vit {
        top: 15px;
        left: 103px;
    }

    .parent {
        position: absolute;
        top: 6px;
        left: 12px;
    }

    input#fname,
    input#email {
        width: 275px;
    }

    .media img {
        padding: 0px;
    }


}

@media only screen and (max-width: 1024PX) {
    .header a {
        width: 30%;
    }

    .header {
        gap: 10px;
        padding: 15px 0;
    }

    input#fname,
    input#email {
        padding: 12px;
    }

    .search input[type="search"] {
        width: 225px;
    }

    .call img,
    .myaccount img {
        width: 20px;
    }

    .callnumber a {
        font-size: 16PX;
    }

    select#cur {
        font-size: 13px;
    }

    .shop {
        padding: 12px 25px;
    }

    .slide-describtion h1 {
        font-size: 45px;
    }

    .slide-describtion p {
        font-size: 23px;
        padding: 25px 0;
    }

    .moreinfo {
        padding: 12px 19px;
        font-size: 18px;
    }

    .parenthood {
        left: 55px;
        top: 9px;
    }

    .dia,
    .vit {
        top: 15px;
        left: 40px;
    }

    .parenthood h1,
    .dia h1,
    .parent h1,
    .vit h1 {
        font-size: 15px;
    }

    .parenthood p,
    .dia p,
    .parent p,
    .vit p {
        font-size: 12px;
        padding-bottom: 7px;
    }

    .parenthood a,
    .dia a,
    .parent a,
    .vit a {
        font-size: 12px;
    }

    .nav a {
        font-size: 17px;
    }

    .service p,
    .brands p {
        font-size: 21px;
        padding: 27px 40px 10px 40px
    }

    button.view {
        padding: 10PX;
    }

    .child a {
        font-size: 15px;
    }

    .child {
        height: 189px;
    }

    .crutch p {
        font-size: 13px;
    }

    .costumer img {
        width: 50%;
    }

    .pharmasy h1 {
        font-size: 22px;
    }

    .pharmasy h3 {
        font-size: 14px;
    }

    .pharmasy p {
        font-size: 12px;
    }

    .pharmasy a {
        padding: 9px;
        font-size: 14px;
    }

    .number p {
        font-size: 13px;
    }

    .number a {
        font-size: 22px;
    }

    .number h5 {
        font-size: 12px;
    }

    .query :nth-child(4) {
        font-size: 14px;
    }

    input#fname,
    input#email {
        width: 200px;
        font-size: 12px;
    }

    button#sub {
        padding: 11px 27px;
        font-size: 15px;
    }

    .details h1 {
        font-size: 15px;
    }

    .details p {
        font-size: 12px;
    }

    .quick h1,
    .forblue,
    .connect p {
        font-size: 15px;
        padding-bottom: 5px;
    }

    .quick ul li {
        font-size: 14px;
        color: #666666;
        line-height: 28px;
    }

    .quick {
        padding: 40px 10px;
    }

    .connect {
        padding: 40px 30px;
    }

    .footer {
        justify-content: space-between;
        gap: 0;
    }

    .myaccount,
    .call {
        padding-right: 10px;
    }

    .product {
        padding: 20px 0 35px 0;
    }

    .costumer {
        padding: 50px 0;
    }

    .maindetails {
        justify-content: center;
    }

    .payment {
        padding-bottom: 50px;
    }

    .australia h5 {
        padding: 0px 4px;
        right: 57px;
    }
}

@media only screen and (max-width: 820px) {
    .header {
        display: none;
    }

    .search {
        display: flex;
        justify-content: center;
    }

    .search button {
        right: 114px;
        top: 5px;
    }

    .myaccount,
    .call {
        padding: 20px 0 0 0;
    }

    .navbar {
        display: none;
    }

    .mobile-navbar {
        padding: 25px;
        background-color: #0973ba;
        border-radius: 0 0 30% 30%;
    }

    .mobile-navbar ul li {

        list-style-type: none;
    }

    .mobile-navbar ul a {
        text-decoration: none;
    }

    .mobile-navbar ul li {
        color: white;
        padding: 4px;
    }

    .mobile-navbar ul li:hover {
        color: black;
        background-color: azure;
    }

    .mobile-navbar ul,
    .myaccount {
        text-align: center;
    }

    .call,
    .myaccount {
        border-right: none;
    }

    .search input[type="search"] {
        padding: 15px 55px 15px 5px;
        width: 538px;
        font-size: 17px;
    }

    .items {
        display: grid;
        padding: 25px;
    }

    .mobileheader {
        display: flex;
        justify-content: space-between;
    }

    .outer {
        text-align: center;
    }

    .outer img {
        padding: 15px 0;
    }

    .slide-describtion h1 {
        font-size: 25px;
    }

    .australia h5 {
        bottom: 26px;
    }

    .moreinfo {
        padding: 8px 11px;
        font-size: 14px;
    }

    .slide-describtion img {
        width: 21px;
        padding-left: 7px;
    }

    .slide-describtion p {
        font-size: 15px;
        width: 78%;
    }

    .parenthood {
        top: 9px;
        left: 67px;
    }

    .parent {
        top: 7px;
        left: 14px;
    }

    .dia,
    .vit {
        top: 11px;
        left: 50px;
    }

    .parenthood h1,
    .dia h1,
    .parent h1,
    .vit h1 {
        font-size: 18px;
    }

    .product {
        gap: 10px;
    }

    .two-row {
        gap: 10px;
    }

    .mobileheader {
        justify-content: center;
        gap: 80px;
    }

    .instore {
        flex-wrap: wrap;
    }

    .child {
        height: 257px;
    }

    .child a {
        font-size: 17px;
    }

    .maindetails {
        display: grid;
        text-align: center;
    }

    form {
        justify-content: center;
        align-items: center;
        /* gap: 20px; */
        padding-top: 25px;
    }

    select#shopall,
    select#curu {
        background-color: #0973ba;
        color: white;
        border: none;
    }

    .myaccount {
        justify-content: center;
    }

    .myaccount img {
        display: none;
    }

    .first-row {
        display: grid;
        justify-content: space-between;
        gap: 20px
    }

    .product {
        justify-content: center;
        gap: 20px;
    }

    .maindetails {
        display: grid;
        text-align: center;
        border-radius: 3px;
        padding: 19px 0;
    }

    .costumer {
        display: grid;
    }

    .costumer img {
        width: 100%;
    }

    .pharmasy {
        padding: 0px 0 32px 0;
        text-align: center;
    }

    .pharmasy h1 {
        font-size: 43px;
        padding-bottom: 14px;
    }

    .pharmasy h3 {
        font-size: 24px;
    }

    .pharmasy p {
        font-size: 19px;
    }

    form {
        display: grid;
        justify-content: center;
        padding: 0;
    }

    input#fname,
    input#email {
        width: 580px;
    }

    .details h1 {
        font-size: 28px;
    }

    .details p {
        font-size: 22px;
        padding: 10px 0 20px 0;
    }

    .service p,
    .brands p {
        padding: 27px 40px 30px 40px;
    }

    .contactinfo {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .number {
        flex: 0 50%;
    }

    .footer {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .quick {
        padding: 40px 30px;
        flex: 0 33%;
    }
}

@media only screen and (max-width: 768px) {
    .slide-describtion h1 {
        font-size: 27px;
    }

    .instore {
        display: grid;
        justify-content: center;
    }

    .product {
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
    }

    .nav a {
        font-size: 20px;
    }

    .nav a:first-child::before,
    .nav a:last-child::after {
        width: 50px;
    }

    .child img {
        width: fit-content;
    }

    .child {
        width: fit-content;
    }

    .number h5 {
        font-size: 12px;
    }

    .number a {
        font-size: 17px;
    }

    .number p {
        font-size: 12px;
    }

    .navbar ul {
        gap: 22px;
    }

    select#shopall {
        padding: 12px 14px;
    }

    .navbar ul li,
    select#shopall {
        font-size: 12px;
    }

    .hire span,
    .instore span,
    .online span,
    .shopingon span {
        font-weight: bold;
        font-size: 15px;
    }

    .uspslider p {
        font-size: 12px;
    }

    .slide-describtion p {
        font-size: 18px;
        width: 75%;
    }

    .parenthood {
        top: 35px;
        left: 160px;
    }

    .dia,
    .vit {
        top: 44px;
        left: 158px;
    }

    .parent {
        top: 34px;
        left: 27px;
    }

    .parenthood h1,
    .dia h1,
    .parent h1,
    .vit h1 {
        font-size: 22px;
        padding-bottom: 6px;
    }

    .service p::before,
    .service p::after,
    .brands p::after,
    .brands p::before {
        margin: 18px 5px;
    }

    .service p,
    .brands p {
        font-size: 33px;
    }

    .navbar form {
        display: grid;
        justify-content: center;
    }

    input#fname,
    input#email {
        width: 500px;
    }

    .footer {
        flex-wrap: wrap;
        align-items: center;
        border-right: none;
    }

    .media,
    .payment p {
        text-align: center;
    }

    .payment {
        display: flex;
        justify-content: space-between;
    }

    .vaified {
        justify-content: space-between;
    }

    .connect p {
        text-align: center;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .hide-item {
        justify-content: center;
        padding-bottom: 22px;
    }

    .crutch :nth-child(3) {
        padding: 17px;
    }

    .crutch img {
        width: 223px;
        height: 203px;
    }

    .addto img {
        width: 40px;
        height: 40px;
    }

    .call,
    .myaccount {
        border: none;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        padding: 0 20px;
    }

    .mobileheader {
        justify-content: space-between;
        gap: 0px;
    }

    .outer img {
        padding: 15px 0;
        width: 55%;
    }

    .search input[type="search"] {
        width: 370px;
    }

    .slide-describtion h1 {
        font-size: 17px;
    }

    .slide-describtion p {
        font-size: 12px;
        width: 50%;
    }

    .slide-describtion p {
        padding: 10px 0;
    }

    .australia h5 {
        padding: 0px 4px;
    }

    select#cur,
    .aud p {
        font-size: 12px;
    }

    .moreinfo {
        padding: 4px 5px;
        font-size: 12px;
    }

    a.moreinfo img {
        width: 13px;
        height: 11px;
    }

    .moreinfo {
        padding: 4px 5px;
        font-size: 12px;
    }

    .slide-describtion img {
        padding-left: 4px;
    }

    .first-row {
        display: grid;
        gap: 10px;
    }

    .crutch :nth-child(3) {
        padding: 26px;
    }

    .product {
        display: grid;
    }

    .addto a {
        font-size: 13px;
        padding: 11px 14px;
        margin-left: 5px;
    }

    .crutch p {
        font-size: 12px;
    }

    .service p,
    .brands p {
        font-size: 21px;
    }

    .service p::before,
    .service p::after,
    .brands p::after,
    .brands p::before {
        margin: 5px 5px;
        width: 49px;
    }

    .pharmasy h1 {
        font-size: 24px;
    }

    .pharmasy h3 {
        font-size: 16px;
    }

    .pharmasy p {
        font-size: 12px;
    }

    .pharmasy a {
        padding: 7px;
        font-size: 11px;
    }

    .pharmasy a {
        padding: 7px;
        font-size: 11px;
    }

    .pharmasy {
        padding: 0;
    }

    .costumer {
        padding: 23px 0;
    }

    input#fname,
    input#email {
        width: 325px;
    }

    .details p {
        font-size: 16px;
    }

    .details h1 {
        font-size: 23px;
    }

    .quick {
        justify-content: center;
        display: grid;
    }

    .footer {
        display: grid;
    }

    .nav a:first-child::before,
    .nav a:last-child::after {
        width: 28px;
    }

    .nav a {
        font-size: 12px;
    }

    .nav a:first-child::before,
    .nav a:last-child::after {
        width: 28px;
    }

    .nav a {
        margin-right: 0;
        padding: 0px;
    }

    .nav a:first-child::before,
    .nav a:last-child::after {
        margin: 2px 15px;
    }
}